.character-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}

.hero-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  color: rgb(46, 46, 46);
}

.hero-image {
  flex: 0 0 250px;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
  object-fit: cover;
}

.hero-image img:hover {
  transform: scale(1.1);
}

.hero-details h1 {
  font-size: 38px;
  font-weight: bold;
  color: rgba(255, 8, 0, 1);
  background-color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.detail {
  padding: 10px;
}

.hero-description {
  margin: 50px 10px;
  text-align: center;
  text-align: justify;
}

.character-images {
  margin-top: 20px;
  width: 100%;
}

.origin-planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.planet-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.planet-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.planet-info {
  background-color: black;
  padding: 30px 20px;
  border-radius: 0 0 10px 10px;
  color: white;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.planet-info p {
  font-size: 14px;
}

.character-transformations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.transformation {
  text-align: center;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  padding: 0 20px;
}

.transformation:hover {
  transform: translateY(-5px);
}

.transformation h2 {
  font-size: 1.5em;
  width: 100%;
  background: radial-gradient(circle, rgb(206, 7, 0) 0%, rgb(0, 0, 0) 100%);
  color: white;
  padding: 20px;
}

.transformation img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  padding: 10px;
  transition: transform 0.3s;
}

.transformation img:hover {
  transform: scale(1.3);
}

.transformation .detail {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #f5f5f5;
}

@media (max-width: 629px) {
  .hero-info {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .hero-details {
    padding-left: 0;
    text-align: center;
  }
}
