.card-characters {
  background: radial-gradient(
    circle,
    rgba(255, 8, 0, 1) 0%,
    rgba(51, 51, 51, 1) 100%
  );
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  color: #fff;
  height: 250px;
}

.contain-image {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  width: 250px;
}
.card-characters:hover {
  background: radial-gradient(circle, rgb(206, 7, 0) 0%, rgb(0, 0, 0) 100%);
}
.contain-image img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: contain;
  transition: all 0.3s;
}

.contain-image img:hover {
  transform: scale(1.05);
}

.button > a,
.button > p {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 214, 32);
  color: rgb(20, 20, 20);
  padding: 3px 7px;
  margin: 10px 10px;
  font-size: 14px !important;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  animation: scaleAnimation 3s infinite;
}
.button > a:hover,
.button > p:hover {
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(22, 22, 22, 1) 100%
  );
  transform: scale(1.1);
  color: white;
}
.character-info-container {
  background-color: rgba(0, 0, 0, 0.808);
  padding: 10px;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: bottom 0.3s ease-in-out;
}
.character-info-container > a > img,
.img-game {
  width: 150px;
  height: 150px;
  display: flex;
  object-fit: contain;
  transition: all 0.5s;
}
.character-info-container > a > img:hover,
.img-game:hover {
  transform: scale(1.9);
}

.card-characters:hover .character-info-container {
  bottom: 0;
}

.character-info li {
  padding: 5px 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.character-info li strong {
  color: #ff6f61;
}
