* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-size: 24px;
}
h3,
h4,
h5,
h6 {
  font-size: 20px;
}
p {
  font-size: 18px;
}
span {
  font-size: 14px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

@keyframes scaleAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
}
